<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Education</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body cellspacing="20">
    <div id="Education">
      <h3>Education</h3>

      <ul>
        <li>Zetech University (ZU) - Information Technology.</li>
        <li>Kenyata University (KU) - Computer Science and Mathematics.</li>
        <li>
          Jomo Kenyatta University of Agriculture and Technology (JKUAT) -
          Mechatronics Engineering.
        </li>
        <li>Computer Pride - A+ and N+ Certification</li>
      </ul>
    </div>
  </body>
</html>
