<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hobbies.</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div id="Hobbies">
      <h3>Hobbies</h3>
      <ol>
        <li><a href="https://tasty.co/">Cooling.</a></li>
        <li>
          <a href="https://www.youtube.com/channel/UCpqXJOEqGS-TCnazcHCo0rA"
            >Gaming.</a
          >
        </li>
        <li>
          <a href="https://www.harley-davidson.com/us/en/index.html"
            >Motorcycles.</a
          >
        </li>
        <li><a href="https://www.betterworldbooks.com/">Reading Novels.</a></li>
      </ol>
    </div>
  </body>

