<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work Experience.</title>
  </head>
  <body>
    <div id="Work Experience">
      <h3>Work Experience.</h3>

      <table cellspacing="0" cellpadding="5">
        <thead>
          <tr>
            <th>DATES</th>
            <th>WORK</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>2016 - 2017</td>
            <td>
              Went for Tech Support attachment at Kenya Central Bank (CBK).
            </td>
          </tr>

          <tr>
            <td>2017 - 2018</td>
            <td>Junior Web Developer at Safaricom.</td>
          </tr>

          <tr>
            <td>2019 - 2020</td>
            <td>
              Hardware and software support at National Intelligence Service
              (NIS).
            </td>
          </tr>

          <tr>
            <td>2020 - 2021</td>
            <td>Founded ComTech Technologies.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
